---
import Logo from "./Logo.astro"
const year = new Date().getFullYear()
---

<script>
  import { gsap } from "gsap"
  import { ScrollTrigger } from "gsap/ScrollTrigger"
  gsap.registerPlugin(ScrollTrigger)

  ScrollTrigger.create({
    trigger: "main",
    start: "bottom 50%",
    end: "bottom bottom",
    onEnter: () => gsap.to("footer", { backgroundColor: "#1f1f1f", duration: 2, ease: "power2" }),
    onLeaveBack: () => gsap.to("footer", { backgroundColor: "white", duration: 2, ease: "power2" })
  })
</script>

<footer>
  <div class="container">
    <div class="footer-container">
      <div class="header">
        <Logo />
      </div>
      <div class="main">
        <div class="menu">
          <a href="/">Home</a>
          <p>|</p>
          <a href="/about">About</a>
          <p>|</p>
          <a href="/gallery">Gallery</a>
          <p>|</p>
          <a href="/contact">Contact</a>
        </div>
        <div class="address">
          <p>125 calarasilor street</p>
          <p>540320 targu mures</p>
          <p>office@office.com</p>
        </div>
        <div class="social">
          <a href="https://instagram.com" target="_blank">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <path
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                ></path>
              </svg>
            </div>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                <path
                  d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                ></path>
              </svg>
            </div>
          </a>
        </div>
      </div>
      <div class="footer">
        <p>© {year} | CLSX - All rights reserved</p>
        <div>
          <a href="/">Terms</a>
          <a href="/">Privacy</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: white;
  }
  .footer-container {
    width: 100%;
    height: var(--height);
    padding: 5.5rem 0 2.5rem;
    margin: 1.25rem auto;
    border-radius: 1.5rem;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .menu {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    font-size: 1.7rem;
    margin-bottom: 10%;
  }
  .address {
    text-transform: uppercase;
    line-height: 1.5;
  }
  .social {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 5%;
  }
  .icon {
    font-size: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    padding-top: 0.9rem;
    fill: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  .icon:hover {
    fill: var(--grey);
    border: 1px solid var(--grey);
  }
  .footer {
    padding: 0 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer a {
    margin-left: 1rem;
  }
  a {
    color: var(--dark-grey);
    transition: color 0.2s ease-in-out;
  }
  a:hover {
    color: var(--grey);
  }
</style>
