---
const { label, title, bold } = Astro.props
---

<script>
  import { gsap } from "gsap"

  gsap.from(".header-container", {
    opacity: 0.5,
    x: 200,
    duration: 2.5,
    ease: "expo.out"
  })
  gsap.from(".header-image", {
    opacity: 0.5,
    x: -200,
    duration: 2.5,
    ease: "expo.out"
  })
</script>

<section class="header container">
  <div class="header-container">
    <p class="label">{label}</p>
    <h1>
      {title}
      <span class="bold">{bold}</span>
    </h1>
    <p class="description">This is a fake website ispired by the award winning site:</p>
    <a href="https://www.hqx21.com/" target="_blank" class="btn">HQX 21 <span>&rarr;</span> </a>
  </div>
  <div class="header-image">
    <slot />
  </div>
</section>

<style>
  .header {
    min-height: 15vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.25rem;
    padding: 1.5rem;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 8rem 4rem;
    background: var(--gradient);
    border-radius: 1rem;
    height: 100%;
  }
  .label {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 5.5rem;
  }
  .bold {
    font-weight: 700;
  }
  .description {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 2rem;
  }
  .header-image {
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
  }
  a span {
    font-size: 1.8rem;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
  }
</style>
