---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Contact">
  <div id="contact">
    <h1>Contact</h1>
    <div class="sticky">
      <p>Get in touch with me via</p>
    </div>
  </div>
  <div class="section2">
    <h2>section 2</h2>
  </div>
</Layout>

<style>
  #contact {
    margin: 2rem;
    background-color: blueviolet;
    height: 100vh;
  }
  .section2 {
    background-color: azure;
    margin: 2rem;
    min-height: 100vh;
  }
  .sticky {
    position: sticky;
    top: 2rem;
  }
</style>
