---
import Header from "../components/layout/Header.astro"
import Layout from "../layouts/Layout.astro"

import headerPhoto from "../images/Image01.webp"
import { Image } from "astro:assets"
import IntroText from "../components/common/IntroText.astro"
import ContactLink from "../components/common/ContactLink.astro"
---

<Layout title="CLSX | Gallery" page="large">
  <Header label="welcome" title="Welcome to" bold="CLSX">
    <Image src={headerPhoto} alt="Skyline of Singapore" />
  </Header>
  <IntroText />
  <section></section>
  <section></section>
  <ContactLink />
</Layout>
<style>
  section {
    height: 100vh;
  }
</style>
