---
import Header from "../components/Header.astro"
import Layout from "../layouts/Layout.astro"
import Banner from "../components/Banner.astro"

import headerPhoto from "../images/skyline-singapore.jpg"
import { Image } from "astro:assets"
---

<Layout title="CLSX | Home">
  <Header label="welcome" title="Welcome to" bold="CLSX">
    <Image src={headerPhoto} alt="Skyline of Singapore" />
  </Header>
  <Banner />
  <section></section>
  <section></section>
</Layout>
<style>
  section {
    height: 100vh;
  }
</style>
