---
import Header from "../components/layout/Header.astro"
import Layout from "../layouts/Layout.astro"
import Banner from "../components/common/Banner.astro"

import headerPhoto from "../images/skyline-singapore.jpg"
import linkImage1 from "../images/Image07.webp"
import linkImage2 from "../images/Image08.webp"
import { Image } from "astro:assets"
import IntroText from "../components/common/IntroText.astro"
import ContactLink from "../components/common/ContactLink.astro"
import ImageLink from "../components/home-page/ImageLink.astro"
import FrontGrid from "../components/home-page/FrontGrid.astro"
---

<Layout title="CLSX | Home" page="large">
  <Header label="welcome" title="Welcome to" bold="CLSX">
    <Image src={headerPhoto} alt="Skyline of Singapore" />
  </Header>
  <Banner />
  <IntroText />
  <section id="welcome-links">
    <ImageLink title="About Us" label="Learn more about our company" address="/about" image={linkImage1} />
    <ImageLink title="Gallery" label="A collection of photos and ideas" address="/gallery" image={linkImage2} />
  </section>
  <FrontGrid />
  <ContactLink />
</Layout>

<style>
  section {
    height: 100%;
  }
  #welcome-links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  @media (max-width: 768px) {
    #welcome-links {
      flex-direction: column;
    }
  }
</style>
