---
const { link, label, text, bold } = Astro.props
---

<a href={link}>
  <div class="link">
    <p class="label">{label}</p>
    <p class="title">{text} <span>{bold}</span></p>
  </div>
</a>

<style>
  a {
    height: 100%;
  }
  .link {
    background-color: var(--yellow);
    padding: 8rem 4rem 2rem;
    border-radius: 1rem;
  }
  .label {
    font-size: 1rem;
    font-weight: 700;
  }
  .title {
    font-size: 2rem;
    font-weight: 300;
  }
  span {
    font-weight: 600;
  }
</style>
