---
const { label, text, button } = Astro.props
---

<div class="title-container">
  <p class="label">{label}</p>
  <h1 class="title">
    <slot />
  </h1>
  {text && <p class="description">{text}</p>}
  {
    button && (
      <button class="btn">
        {button} <img src="/arrow_forward.svg" alt="button arrow" />
      </button>
    )
  }
</div>

<style>
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 8rem 4rem;
    background-color: var(--yellow-shade);
    border-radius: 1rem;
    height: max-content;
  }
  .label {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }
  .description {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 1rem;
  }
  button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    transform: translateY(0.4rem);
  }
</style>
